<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Idézetek Listázás</title>
</head>
<body>
  <h1>Idézetek</h1>
    <ol>
      <%= <li>Test</li> %>
    </ol>
</body>
</html>
