<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>randomQuote</title>
  <head>
    <style>
      body {
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        margin-top: 100px;
      }
      .quote {
        font-size: 2em;
        margin: 20px 0;
      }
      .author {
        font-size: 1.5em;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div class="quote">"<%= quote %>"</div>
    <div class="author">- <%= author %></div>
  </body>
</html>
