<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
</head>
<body>  
  <h1>Search Results</h1>
  <form action="/search" method="get">
    <input type="text" name="text" placeholder="Search...">
    <button type="submit">Search</button>
  </form>
  <ul>
    <% quotes.forEach(quote => { %>
      <li>
        <blockquote>
          <%= quote.quote %>
          <cite><%= quote.author %></cite>
        </blockquote>
      </li>
    <% }); %>
  </ul>

</body>
</html>
